
<div class="container animated fadeInRight" ng-controller="OrderController as orderCtrl">
    <div class="row">
        <h1>Historico de pedidos</h1>
    </div>

    <div class="row cart">

        <div class="col-xs-12 col-sm-8 col-md-8">
            <table class="table table-striped table-hover" ng-if="cart.length != 0">
                <thead>
                <tr>
                    <th>Codigo do Pedidos</th>
                    <th>Valor Total</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in orderCtrl.orders" class="order" ng-click="orderCtrl.detail(order._id)">
                    <td>{{order._id}}</td>
                    <td>{{order.total}}</td>
                </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>



