
<div class="container animated fadeInRight" ng-controller="OrderController as orderCtrl">
    <div class="row">
        <h1>Historico de pedidos</h1>
    </div>

    <div class="row cart">

        <div class="col-xs-12 col-sm-12 col-md-12">
            <table class="table table-striped table-hover" ng-if="cart.length != 0">
                <thead>
                <tr>
                    <th>Pedidos</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in orders" class="order">
                    <td>{{orderCtrl.order._id}}</td>
                    <td>{{orderCtrl.order.total}}</td>
                </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>



